# General Node configuration
NODE_ENV=development
PORT=3000
LOG_LEVEL=info

# Database connection strings
# MongoDB (for transaction details persistence)
MONGODB_URL=mongodb://localhost:27017/fraud_detection

# Redis (for velocity rules caching & socket pub/sub)
REDIS_URL=redis://localhost:6379
